{% extends "base.html" %}

{% block title %}My Coding Interests!{% endblock %}

{% block content %}

<p>
    I am currently enrolled in the JTC Flagship program. I have prior experince with HTML, CSS, JavaScript, and React. I
    am looking forward to learning about Python, new frameworks, and new libraries. I regularly practice coding
    challenges on platforms
    like HackerRank and LeetCode to improve my problem solving skills. I am both nervous and excited about what the
    future may hold. Coding is a newfound passion of mine and something I enjoy doing. A career in coding would be both
    rewarding and satisfying at this point in my life.
</p>

<p>
    You can find my projects and code samples on my <a href="https://github.com/okrayum">GitHub</a>.
</p>

<div id="interests">
    <p id="responseToUser"></p>
</div>

{% endblock %}