{% extends "base.html" %}

{% block title %}My Foodie Interests!{% endblock %}

{% block content %}

<p>I enjoy exploring newly opened eateries as well as hidden gems that have been around awhile. My tastes are pretty
    diverse, but I especially enjoy Asian, Mexican, and various fusion cuisines.</p>
<p>
<h2>Here are a few places I visited recently:</h2>
<ul>
    <li>
        <strong>Brothers Family Restaurant:</strong>A spacious diner with a vast menu of American comfort food,
        including meatloaf & breakfast faves. As well as Italian, Greek, and Mexican inspired dishes.
        (<a href="https://brothersfamilyrestaurant.com" />Website</a>)
    </li>
    <li>
        <strong>Scorpion Bay Grill:</strong>
        A day of fun on the water is bound to make you hungry—not to mention thirsty. When it’s time to refuel, our
        floating restaurant offers a casual respite with a full menu of fresh salads, sandwiches, burgers, and
        cocktails, all served up with 360-degree mountain views.
        (<a href="https://www.scorpionbayaz.com/food-drink/scorpion-bay-grill/" />Website</a>)
    </li>
    <li>
        <strong>Barrio Brewing Co.:</strong>Arizona’s oldest brewery, opened back in 1991 first as Gentle Bens in
        Tucson, AZ by founders Dennis & Tauna Arnold. They had a love for great food, amazing craft beer and an
        aspiration to change the landscape of Arizona brewing..
        (<a href="https://www.barriobrewingphoenix.com/#" />Website</a>)
    </li>
</ul>
</p>

<div id="interests">
    <p id="responseToUser"></p>
</div>

{% endblock %}