{% extends "base.html" %}

{% block title %}My Streaming Interests!{% endblock %}

{% block content %}

<p>
    I enjoy discovering new shows to stream, both older and recent releases. I really like the shows that already have
    atleast a season or 2 out. That way when time permits I can sit back and binge watch a few hours or more on
    a weekend night.
</p>
<p>
<h2>Some of the current shows I'm streaming include:</h2>
<ul>
    <li><strong>Halo: </strong> Halo is an American military science fiction television series. Based on the video game
        franchise of the same name, the series follows a 26th-century war between the United Nations Space Command and
        the Covenant, a theocratic-military alliance of several alien races determined to eradicate humanity.</li>
    <li><strong>Shōgun: </strong> Shōgun is an American historical drama limited series created by Rachel Kondo and Justin
        Marks. It is based on the 1975 novel of the same name by James Clavell, which was previously adapted into a 1980
        limited series.</li>
    <li><strong>Carnival Row: </strong> Carnival Row is an American fantasy television series that follows mythological
        beings who must survive as oppressed refugees in human society, as a detective works to solve murders connected
        with them.</li>
</ul>
</p>

<div id="interests">
    <p id="responseToUser"></p>
</div>

{% endblock %}