*,
body,
html,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: lightcyan;
  color: darkblue;
}

h1 {
  margin: .5em;
  text-align: center;
  font-size: 2.5em;
}

h2 {
  margin: .5em;
  text-align: left;
  font-size: 1.75em;
}

a {
  text-decoration: none;
  font-size: 1.25em;
}

a:hover {
  color: green;
}

img {
  padding: .5em;
  width: 450px;
  height: 250px;
}

p,
li {
  padding: .75em;
  text-align: justify;
  font-size: 1.33em;
}

#imagesDiv {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav {
  padding: 1.5em;
}

#responseToUser {
  width: 100%;
  text-align: center;
  font-size: 3em;
}

@media screen and (min-width: 950px) {
  #imagesDiv {
    margin-top: 5em;
    flex-direction: row;
    width: 80%;
  }

  img {
    width: 500px;
    height: 350px;
    padding: 0em;

  }
}